<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>FEBS 权限系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/today/css/febs.css}" media="all">
    <link rel="stylesheet" th:href="@{/today/css/eleTree.css}" media="all">
    <link rel="stylesheet" th:href="@{/today/css/apexcharts.min.css}" media="all">
    <link rel="stylesheet" th:href="@{/today/css/formSelects-v4.css}" media="all">
    <!-- 高德地图，key为演示作用，请勿滥用-->
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=0e8a587317998a5e03cf608649b229d6&plugin=AMap.Autocomplete"></script>
    <link rel="icon" th:href="@{/today/images/favicon.ico}" type="image/x-icon"/>

    <script th:src="@{/layui/layui.js}"></script>
    <style>
        #febs-index .welcome-info {
            border: 1px solid #f1f1f1;
            margin-bottom: .5rem;
            padding: .5rem;
        }

        #febs-index .welcome-info-wrapper {
            padding: .2rem;
            display: inline-block
        }

        #febs-index .welcome-info-wrapper .user-header {
            display: inline-block;
            vertical-align: middle
        }

        #febs-index .welcome-info-wrapper .user-header img {
            width: 5rem;
            margin: .5rem 1rem;
            border-radius: 50%
        }

        #febs-index .welcome-info-wrapper .user-info {
            display: inline-block;
            vertical-align: middle
        }

        #febs-index .welcome-info-wrapper .user-info .random-message {
            font-size: 1rem;
            margin-bottom: .2rem;
            max-width: 21rem
        }

        #febs-index .welcome-info-wrapper .user-info .user-dept, #febs-index .welcome-info-wrapper .user-info .user-login-info {
            color: rgba(0, 0, 0, 0.45);
        }

        #febs-index .login-count-table {
            width: 100%;
            margin: 1rem;
        }

        #febs-index .login-count-table .count {
            padding-top: .8rem;
            font-size: 1rem;
            font-weight: 600;
            color: #1890ff
        }

        #febs-index .project-table {
            padding: .5rem;
            border: 1px solid #f1f1f1;
            width: 100%
        }

        #febs-index .project-table-td {
            padding: .5rem 0.7rem;
            border: 1px solid #f1f1f1;
        }

        #febs-index .project-table-td a {
            color: #42b983;
            font-size: .9rem;
            font-weight: 600;
        }

        #febs-index .project-desc {
            color: rgba(0, 0, 0, 0.45);
        }
    </style>
</head>
<div id="today"></div>

<div class="layui-layout layui-layout-admin" id="febs-layout">
    <div class="layui-header layui-anim febs-anim-down" id="app-header">
        <script type="text/html" template lay-done="layui.element.render('nav','febs-header')">
            <ul class="layui-nav layui-layout-left" lay-filter="febs-header">
                <li class="layui-nav-item" lay-unselect>
                    <a febs-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right"></i>
                    </a>
                </li>
                <span class="febs-breadcrumb"></span>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="febs-header">
                <li class="layui-nav-item layui-user" lay-unselect>
                    <a>
                        <img style="width: 1.9rem;margin-right:.5rem;border-radius: 50%"
                             src="{{= ctx + 'febs/images/avatar/' + currentUser.avatar }}" title="头像">
                        {{ currentUser.username }}
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a class="layui-nav-child-href" id="user-profile">个人中心</a></dd>
                        <dd><a class="layui-nav-child-href" id="password-update">密码修改</a></dd>
                        <dd><a class="layui-nav-child-href" target="_blank"
                               href="https://github.com/wuyouzhuguli/FEBS-Shiro">项目地址</a></dd>
                        <hr/>
                        <dd><a class="layui-nav-child-href" data-th-href="@{logout}">退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </script>
    </div>

    <div class="febs-tabs-hidden">
        <script type="text/html" id="TPL-app-tabsmenu" template>
            {{# if(layui.conf.viewTabs){ }}
            <div class="febs-tabs-wrap">
          <span class="febs-tabs-btn febs-tabs-action febs-tabs-prev" data-type="prev">
              <i class="layui-icon layui-icon-left"></i>
          </span>
                <span class="febs-tabs-btn febs-tabs-action febs-tabs-next" data-type="next">
              <i class="layui-icon layui-icon-right"></i>
          </span>
                <span class="febs-tabs-btn febs-tabs-action febs-tabs-down" data-type="down">
              <i class="layui-icon layui-icon-close"></i>
          </span>
                <ul class="febs-tabs-menu">
                    {{# layui.each(layui.view.tab.data,function(i, item){ }}
                    <li data-type="page" class="febs-tabs-btn" lay-url="{{item.fileurl}}">
                        <i class="febs-tabs-ball"></i>{{ item.title }}<b
                            class="layui-icon layui-icon-close febs-tabs-close"></b>
                    </li>
                    {{# }) }}
                </ul>
            </div>
            {{# } }}
        </script>
    </div>

    <!-- 侧边菜单 -->
    <div class="layui-side" id="app-sidebar">
        <div class="layui-side-scroll">
            <div class="layui-logo" style="cursor: pointer">
                <img data-th-src="@{/today/images/logo.png}">
                <span>FEBS 权限系统</span>
            </div>
            <script
                    type="text/html"
                    template
                    lay-api="getMenus"
                    lay-done="layui.element.render('nav','febs-sidebar');layui.febs.sidebarFocus()">
                <ul class="layui-nav layui-nav-tree" lay-filter="febs-sidebar" lay-shrink="all">
                    {{#
                    function __createSlidebar(data,index){
                    if(!data || data.length == 0) return '';
                    var html = '
                    <dl class="layui-nav-child">';
                        layui.each(data,function(i,child){
                        var left = index == 0 ? 50 : 50 + index * 20;
                        html += '
                        <dd><a style="padding-left:' + left + 'px" target="'+(child.target||'')+'"
                               lay-href="'+ (child.href||'') +'">' + child.title + '</a>';
                            if(child.childs) html += __createSlidebar(child.childs,index+1);
                            html += '
                        </dd>
                        ';
                        });
                        html = html +'
                    </dl>
                    ';
                    return html;
                    }
                    layui.each(d.childs, function(i,child){
                    }}
                    <li class="layui-nav-item">
                        <a lay-href="{{child.href||''}}" target="{{child.target||''}}" title="{{child.title}}"><i
                                class="layui-icon {{child.icon}}"></i>{{child.title}} {{# if(child.notice){ }}<span
                                class="layui-badge">{{ child.notice }}</span>{{# } }}</a>
                        {{ __createSlidebar(child.childs,0) }}
                    </li>
                    {{# }) }}
                </ul>
            </script>

            <ul class="layui-nav layui-nav-tree" lay-filter="febs-sidebar" lay-shrink="all" is-template="true">
                <li class="layui-nav-item layui-nav-itemed"><a lay-href="" target="" title="系统管理">
                    <i class="layui-icon layui-icon-setting"></i>
                    系统管理 <span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a style="padding-left:50px" target="" lay-href="/system/user">用户管理</a></dd>
                        <dd><a style="padding-left:50px" target="" lay-href="/system/role">角色管理</a></dd>
                        <dd><a style="padding-left:50px" target="" lay-href="/system/menu">菜单管理</a></dd>
                        <dd><a style="padding-left:50px" target="" lay-href="/system/dept">部门管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a lay-href="" target="" title="系统监控">
                    <i class="layui-icon layui-icon-alert"></i>
                    系统监控 <span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a style="padding-left:50px" target="" lay-href="/monitor/online">在线用户</a></dd>
                        <dd><a style="padding-left:50px" target="" lay-href="/monitor/log">系统日志</a></dd>
                        <dd><a style="padding-left:50px" target="" lay-href="/monitor/loginlog">登录日志</a></dd>
                        <dd><a style="padding-left:50px" target="" lay-href="/monitor/redis/info">Redis监控</a></dd>
                        <dd><a style="padding-left:50px" target="" lay-href="/monitor/redis/terminal">Redis终端</a></dd>
                        <dd><a style="padding-left:50px" target="" lay-href="/monitor/httptrace">请求追踪</a></dd>
                        <dd><a style="padding-left:50px" target="" lay-href="">系统信息<span class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child">
                                <dd><a style="padding-left:70px" target="" lay-href="/monitor/jvm">JVM信息</a></dd>
                                <dd><a style="padding-left:70px" target="" lay-href="/monitor/tomcat">Tomcat信息</a></dd>
                                <dd><a style="padding-left:70px" target="" lay-href="/monitor/server">服务器信息</a></dd>
                            </dl>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a lay-href="" target="" title="任务调度"><i
                        class="layui-icon layui-icon-time-circle"></i>任务调度 <span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a style="padding-left:50px" target="" lay-href="/job/job">定时任务</a></dd>
                        <dd><a style="padding-left:50px" target="" lay-href="/job/log">调度日志</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a lay-href="" target="" title="代码生成"><i class="layui-icon layui-icon-verticalright"></i>代码生成 <span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a style="padding-left:50px" target="" lay-href="/generator/configure">生成配置</a></dd>
                        <dd><a style="padding-left:50px" target="" lay-href="/generator/generator">代码生成</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a lay-href="" target="" title="其他模块"><i class="layui-icon layui-icon-gift"></i>其他模块 <span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a style="padding-left:50px" target="" lay-href="">FEBS组件<span
                                class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child">
                                <dd><a style="padding-left:70px" target="" lay-href="/others/febs/form">表单组件</a></dd>
                                <dd><a style="padding-left:70px" target="" lay-href="/others/febs/form/group">表单组合</a>
                                </dd>
                                <dd><a style="padding-left:70px" target="" lay-href="/others/febs/tools">FEBS工具</a></dd>
                                <dd><a style="padding-left:70px" target="" lay-href="/others/febs/icon">系统图标</a></dd>
                                <dd><a style="padding-left:70px" target="" lay-href="/others/febs/others">其他组件</a></dd>
                            </dl>
                        </dd>
                        <dd><a style="padding-left:50px" target="" lay-href="">Apex图表<span
                                class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child">
                                <dd><a style="padding-left:70px" target="" lay-href="/others/apex/line">线性图表</a></dd>
                                <dd><a style="padding-left:70px" target="" lay-href="/others/apex/area">面积图表</a></dd>
                                <dd><a style="padding-left:70px" target="" lay-href="/others/apex/column">柱形图表</a></dd>
                                <dd><a style="padding-left:70px" target="" lay-href="/others/apex/radar">雷达图表</a></dd>
                                <dd><a style="padding-left:70px" target="" lay-href="/others/apex/bar">条形图表</a></dd>
                                <dd><a style="padding-left:70px" target="" lay-href="/others/apex/mix">混合图表</a></dd>
                            </dl>
                        </dd>
                        <dd><a style="padding-left:50px" target="" lay-href="/others/map">高德地图</a></dd>
                        <dd><a style="padding-left:50px" target="" lay-href="/others/eximport">导入导出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a lay-href="" target="" title="其他模块"><i class="layui-icon layui-icon-gift"></i>其他模块 <span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a style="padding-left:50px" target="" lay-href="/article/articleAll">所有文章</a></dd>
                        <dd><a style="padding-left:50px" target="" lay-href="/article/createArticle">创作文章</a></dd>
                        <dd><a style="padding-left:50px" target="" lay-href="/article/category">文章分类</a></dd>
                        <dd><a style="padding-left:50px" target="" lay-href="/article/tag">文章</a></dd>
                    </dl>
                </li>
                <span class="layui-nav-bar" style="top: 400px; height: 0px; opacity: 0;"></span>
            </ul>
        </div>
    </div>
    <!-- 主体内容 -->
    <div class="layui-body" id="today-body">
        <div class="layui-fluid layui-anim febs-anim-up" id="febs-index" lay-title="系统首页">
            <div class="layui-row layui-col-space8 febs-container">
                <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
                    <div class="layui-card">
                        <div class="layui-card-body layui-anim layui-anim-fadein">
                            <div class="layui-row welcome-info">
                                <div class="layui-col-md6 layui-col-sm12 layui-col-xs12">
                                    <div class="layui-row welcome-info-wrapper">
                                        <div class="user-header">
                                            <img alt="头像" id="user-avatar" data-th-src="@{/today/images/avatar/empty.jpg}">
                                        </div>
                                        <div class="user-info">
                                            <div class="layui-row">
                                                <div class="random-message">
                                                    <span id="welcome-message"></span>
                                                </div>
                                                <div class="user-dept">
                                                    <span id="user-dept"></span> | <span id="user-role"></span>
                                                </div>
                                                <div class="user-login-info">
                                                    上次登录时间：<span id="last-login-time">2019-05-23 18:45:12</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md6 layui-col-sm12 layui-col-xs12">
                                    <div class="layui-col-md-offset5">
                                        <table class="login-count-table">
                                            <tr>
                                                <td>今日IP</td>
                                                <td>今日访问</td>
                                                <td>总访问量</td>
                                            </tr>
                                            <tr>
                                                <td class="count" id="today-ip">
                                                    0
                                                </td>
                                                <td class="count" id="today-visit-count">
                                                    0
                                                </td>
                                                <td class="count" id="total-visit-count">
                                                    0
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div id="chart" style="height: 350px"></div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <table class="project-table">
                                <tr>
                                    <td style="padding: .8rem;">进行中的项目</td>
                                    <td style="padding: .8rem;text-align: right">
                                        <a target="_blank" href="https://github.com/wuyouzhuguli?tab=repositories">所有项目</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="project-table-td">
                                        <div class="layui-row">
                                            <div class="layui-col-md12 layui-col-xs12">
                                                <div class="layui-row">
                                                    <div class="layui-col-md12">
                                                        <a target="_blank" href="https://github.com/wuyouzhuguli/FEBS-Shiro">FEBS Shiro</a>
                                                    </div>
                                                    <div class="project-desc">
                                                        Spring Boot 2.0.4 & Shiro1.4.0 权限管理系统。
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="project-table-td">
                                        <div class="layui-row">
                                            <div class="layui-col-md12 layui-col-xs12">
                                                <div class="layui-row">
                                                    <div class="layui-col-md12">
                                                        <a target="_blank" href="https://github.com/wuyouzhuguli/FEBS-Security">FEBS Security</a>
                                                    </div>
                                                    <div class="project-desc">
                                                        Spring Boot 2.0.4 & Spring Security 5.0.7 权限管理系统。
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="project-table-td">
                                        <div class="layui-row">
                                            <div class="layui-col-md12 layui-col-xs12">
                                                <div class="layui-row">
                                                    <div class="layui-col-md12">
                                                        <a target="_blank" href="https://github.com/wuyouzhuguli/FEBS-Vue">FEBS Vue</a>
                                                    </div>
                                                    <div class="project-desc">
                                                        FEBS-Shiro前后端分离版本，前端架构采用Vue全家桶。
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="project-table-td">
                                        <div class="layui-row">
                                            <div class="layui-col-md12 layui-col-xs12">
                                                <div class="layui-row">
                                                    <div class="layui-col-md12">
                                                        <a target="_blank" href="https://github.com/wuyouzhuguli/FEBS-Actuator">FEBS Actuator</a>
                                                    </div>
                                                    <div class="project-desc">
                                                        使用Spring Boot Admin 2.0.2构建，用于监控FEBS。
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="project-table-td">
                                        <div class="layui-row">
                                            <div class="layui-col-md12 layui-col-xs12">
                                                <div class="layui-row">
                                                    <div class="layui-col-md12">
                                                        <a target="_blank" href="https://github.com/wuyouzhuguli/SpringAll">SpringAll</a>
                                                    </div>
                                                    <div class="project-desc">
                                                        循序渐进学习Spring Boot、Spring Cloud与Spring Security。
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="project-table-td">
                                        <div class="layui-row">
                                            <div class="layui-col-md12 layui-col-xs12">
                                                <div class="layui-row">
                                                    <div class="layui-col-md12">
                                                        <a target="_blank" href="https://github.com/wuyouzhuguli/Conciseness">Conciseness</a>
                                                    </div>
                                                    <div class="project-desc">
                                                        Leanote博客主题Conciseness。
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="project-table-td">
                                        <div class="layui-row">
                                            <div class="layui-col-md12 layui-col-xs12">
                                                <div class="layui-row">
                                                    <div class="layui-col-md12">
                                                        <a target="_blank" href="https://github.com/wuyouzhuguli/Material-Design">Material Design</a>
                                                    </div>
                                                    <div class="project-desc">
                                                        Leanote博客主题Material Design。
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="project-table-td">
                                        <div class="layui-row">
                                            <div class="layui-col-md12 layui-col-xs12">
                                                <div class="layui-row">
                                                    <div class="layui-col-md12">
                                                        <a target="_blank" href="https://github.com/wuyouzhuguli/Summer">Summer</a>
                                                    </div>
                                                    <div class="project-desc">
                                                        Leanote博客主题🌴Summer。
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script th:inline="javascript">
    var ctx = [[@{/}]];
        var currentUser = [[${user}]];

        layui.config({
            base: '/today/',
            debug: true
        }).extend({
            request: 'lay/modules/request',
            formSelects: 'lay/extends/formSelects-v4.min',
            treeSelect: 'lay/extends/treeSelect',
            apexcharts: 'lay/extends/apexcharts.min',
            eleTree: 'lay/extends/eleTree'
        }).use(['index']);

</script>

